.loginBlock{
    width:400px;
   margin: 0 auto;
   margin-top: 45px;
}
.navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation-menu > li {
    display: inline-block;
    position: relative;
}
.nav-container {
    border-bottom: 1px #dee2e6 solid;
    margin-top:20px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav-container li{
    font-size: 16px;
    color: #ff8927;
    font-weight: 400;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-align: center;
}
.alignment-left{
    width:300px;
    text-align:"left";
    display:inline-block;
}
.alignment-right{
    width:300px;
    text-align:"right";
    display:inline-block;
}
li a{
color: rgba(0,0,0,.9);
}
li a:active{
    border-bottom: 2px solid blue;
}

.alignment-center{
    width:400px;
    text-align:Center;
    display:inline-block;
    font-weight: 600;
}
.border-light {
    border-color: white!important;
}
.centeralign{
    margin-top: 29px;
    padding-left: 106px;

}
li a:active{
    color: #ff8927;
}
